* {
  box-sizing: border-box;
  --border-radius-lg: 2rem;
  --border-radius-sm: 1.2rem;
  touch-action: manipulation;
}

html {
  margin: 0;
  padding: 1rem;
  background: #f6f6f6;
}

#calculator {
  margin: auto;
  max-width: 400px;
  background-color: white;
  aspect-ratio: 2/3;
  border-radius: var(--border-radius-lg);
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  font-family: Arial, Helvetica, sans-serif;
}

#calculator__display {
  width: 100%;
  border-radius: var(--border-radius-sm);
  height: 5rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #ececec;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.5);
}

#calculator__display__text {
  font-weight: bold;
  font-optical-sizing: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.4rem;
  text-transform: uppercase;
}

#calculator__buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.calculator__row {
  height: 20%;
  display: flex;
}

.calculator__row > button {
  width: 25%;
  border-radius: var(--border-radius-sm);
  font-weight: bold;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.9);
  border: 0;
  margin-left: 1rem;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.calculator__row > button.button--lg {
  width: calc(50% + 1.5rem);
}

.calculator__row > button:hover {
  background: ghostwhite;
}

.calculator__row > button:first-child {
  margin-left: 0;
}
